{% extends 'base.html' %}
{% block title %}
  {{ block.super }}
{% endblock title %}

{% block content %}
    <div id="li-background">
      <div class="landing-container">
        <div class="landing-jumbotron">
          <h1 class="landing-text">Colin McFaul</h1>
          <div class="text-center">
            <a type="button" href="mailto:cjm@colinmcfaul.com?Subject=Saw%20your%20website" class="btn btn-primary btn-lg">Email</a>
            <a type="button" href="tel:1-202-417-2727" class="btn btn-primary btn-lg">Call</a>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
